#extra-credit{
    flex-wrap: wrap;
    display: flex;
}

#extra-credit .flex-item {
    max-width: unset;
    flex: 1;
    margin: auto;
    border: solid 1px rgb(203, 247, 237);
}

#extra-credit .flex-item:hover {
    transition: 0.2s;
    flex: 2;
    color: rgb(203, 247, 237);
    background-color: rgb(38, 48, 87);
}
