.flex-wrap-wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
  }
  
  .flex-wrap-wrap > div {
    background-color: #F15837;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }