.flex-direction-column {
    display: flex;
    flex-direction: column;
    background-color: gray;
  }
  
  .flex-direction-column > div {
    background-color: #F15837;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }